albumentations==2.0.5
braceexpand==0.1.7
lightning==2.5.1
lightning_utilities==0.14.3
numpy==2.2.5
omegaconf==2.3.0
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
pandas==2.2.3
scikit_learn==1.6.1
scipy==1.15.2
timm==1.0.15
torch==2.6.0
torcheval==0.0.7
torchmetrics==1.7.0
tensorboardX==2.6.2.2
validators==0.34.0
wonderwords==2.2.0
wandb==0.19.9